@mixin centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin border {
    border: 2px solid red;
}

@mixin dot-dark-first-name {
    // width: 2.3rem;
    // height: 2.3rem;
    width: 11.5%;
    height: 24%;
    border-radius: 50%;
    background-color: $color-dark;
    transform: translate(-50%, -50%);
}

@mixin dot-dark {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: $color-dark;
    transform: translate(-50%, -50%);
}

@mixin dot-dark-surname {
    // width: 2.3rem;
    // height: 2.3rem;
    width: 5.6%;
    height: 24%;
    border-radius: 50%;
    background-color: $color-dark;
    transform: translate(-50%, -50%);
}

@mixin dot-half {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $color-half;
    transform: translate(-50%, -50%);
}

@mixin dot-light {
    @include dot-dark();
    background-color: $color-light;
}

@mixin circle($radius) {
    width: $radius;
    height: $radius;
    border: 0.4rem solid $color-half;
    border-radius: 50%;
    padding-top: 100%;
}

@mixin circle-plain {
    border: 4px solid $color-half;
    border-radius: 50%;
    padding-top: 100%;
}