$color-light: #fff3f1;
$color-mid: rgba(255, 210, 165, 1);
$color-dark: rgba(200, 120, 113, 1);
$color-black: rgba(64, 36, 34, 1);

$headlines: "Manrope", sans-serif;
$copy: "Abhaya Libre", serif;

$transitionTime: 0.3s;
